TASKBOARD_LISTEN_ADDRESS=127.0.0.1:8095
TASKBOARD_DATABASE_PATH=/var/lib/taskboard/taskboard.db
TASKBOARD_AUTH_TOKEN={{ taskboard_auth_token | to_json }}
TASKBOARD_ALLOWED_HOSTS={{ taskboard_allowed_hosts | join(',') | to_json }}
TASKBOARD_LEASE_SECONDS={{ taskboard_lease_seconds | int }}
TASKBOARD_MCP_DEFAULT_TYPE={{ taskboard_mcp_default_type | to_json }}
TASKBOARD_BROWSER_AUTH_MODE={{ taskboard_browser_auth_mode | to_json }}
TASKBOARD_VAPID_PUBLIC_KEY={{ taskboard_vapid_public_key | to_json }}
TASKBOARD_VAPID_PRIVATE_KEY={{ taskboard_vapid_private_key | to_json }}
TASKBOARD_VAPID_CONTACT={{ taskboard_vapid_contact | to_json }}
TASKBOARD_OIDC_ISSUER={{ taskboard_oidc_issuer | to_json }}
TASKBOARD_OIDC_CLIENT_ID={{ taskboard_oidc_client_id | to_json }}
TASKBOARD_OIDC_CLIENT_SECRET={{ taskboard_oidc_client_secret | to_json }}
TASKBOARD_OIDC_REDIRECT_URL={{ taskboard_oidc_redirect_url | to_json }}
TASKBOARD_OIDC_ALLOWED_SUBJECTS={{ taskboard_oidc_allowed_subjects | join(',') | to_json }}
TASKBOARD_OIDC_ALLOWED_EMAILS={{ taskboard_oidc_allowed_emails | join(',') | to_json }}
TASKBOARD_OIDC_ALLOWED_GROUPS={{ taskboard_oidc_allowed_groups | join(',') | to_json }}
TASKBOARD_CF_ACCESS_TEAM_DOMAIN={{ taskboard_cf_access_team_domain | to_json }}
TASKBOARD_CF_ACCESS_AUD={{ taskboard_cf_access_aud | to_json }}
TASKBOARD_CF_ACCESS_ALLOWED_SUBJECTS={{ taskboard_cf_access_allowed_subjects | join(',') | to_json }}
TASKBOARD_CF_ACCESS_ALLOWED_EMAILS={{ taskboard_cf_access_allowed_emails | join(',') | to_json }}
TASKBOARD_CF_ACCESS_ALLOWED_GROUPS={{ taskboard_cf_access_allowed_groups | join(',') | to_json }}
