TASKBOARD_LISTEN_ADDRESS=127.0.0.1:8095
TASKBOARD_DATABASE_PATH=/var/lib/taskboard/taskboard.db
TASKBOARD_DATABASE_URL={{ taskboard_database_url | to_json }}
TASKBOARD_AUTH_TOKEN={{ taskboard_auth_token | to_json }}
TASKBOARD_ALLOWED_HOSTS={{ taskboard_allowed_hosts | join(',') | to_json }}
TASKBOARD_LEASE_SECONDS={{ taskboard_lease_seconds | int }}
TASKBOARD_MCP_DEFAULT_TYPE={{ taskboard_mcp_default_type | to_json }}
TASKBOARD_BROWSER_AUTH_MODE={{ taskboard_browser_auth_mode | to_json }}
TASKBOARD_VAPID_PUBLIC_KEY={{ taskboard_vapid_public_key | to_json }}
TASKBOARD_VAPID_PRIVATE_KEY={{ taskboard_vapid_private_key | to_json }}
TASKBOARD_VAPID_CONTACT={{ taskboard_vapid_contact | to_json }}
TASKBOARD_OIDC_ISSUER={{ taskboard_oidc_issuer | to_json }}
TASKBOARD_OIDC_CLIENT_ID={{ taskboard_oidc_client_id | to_json }}
TASKBOARD_OIDC_CLIENT_SECRET={{ taskboard_oidc_client_secret | to_json }}
TASKBOARD_OIDC_REDIRECT_URL={{ taskboard_oidc_redirect_url | to_json }}
TASKBOARD_OIDC_ALLOWED_SUBJECTS={{ taskboard_oidc_allowed_subjects | join(',') | to_json }}
TASKBOARD_OIDC_ALLOWED_EMAILS={{ taskboard_oidc_allowed_emails | join(',') | to_json }}
TASKBOARD_OIDC_ALLOWED_GROUPS={{ taskboard_oidc_allowed_groups | join(',') | to_json }}
TASKBOARD_OIDC_TRUST_PROVIDER_POLICY={{ taskboard_oidc_trust_provider_policy | bool | lower }}
TASKBOARD_CF_ACCESS_TEAM_DOMAIN={{ taskboard_cf_access_team_domain | to_json }}
TASKBOARD_CF_ACCESS_AUD={{ taskboard_cf_access_aud | to_json }}
TASKBOARD_CF_ACCESS_ALLOWED_SUBJECTS={{ taskboard_cf_access_allowed_subjects | join(',') | to_json }}
TASKBOARD_CF_ACCESS_ALLOWED_EMAILS={{ taskboard_cf_access_allowed_emails | join(',') | to_json }}
TASKBOARD_CF_ACCESS_ALLOWED_GROUPS={{ taskboard_cf_access_allowed_groups | join(',') | to_json }}
TASKBOARD_CF_ACCESS_TRUST_POLICY={{ taskboard_cf_access_trust_policy | bool | lower }}
TASKBOARD_DEFAULT_ROLE={{ taskboard_default_role | to_json }}
TASKBOARD_OWNER_GROUPS={{ taskboard_owner_groups | join(',') | to_json }}
TASKBOARD_ADMIN_GROUPS={{ taskboard_admin_groups | join(',') | to_json }}
TASKBOARD_MEMBER_GROUPS={{ taskboard_member_groups | join(',') | to_json }}
TASKBOARD_VIEWER_GROUPS={{ taskboard_viewer_groups | join(',') | to_json }}
TASKBOARD_AGENT_CAPABILITIES={{ taskboard_agent_capabilities | join(',') | to_json }}
TASKBOARD_AGENT_MAX_CONCURRENT_RUNS={{ taskboard_agent_max_concurrent_runs | int }}
TASKBOARD_AGENT_MAX_PICKUPS_PER_MINUTE={{ taskboard_agent_max_pickups_per_minute | int }}
TASKBOARD_AGENT_MAX_RUN_SECONDS={{ taskboard_agent_max_run_seconds | int }}
TASKBOARD_AGENT_REQUIRE_IDEMPOTENCY={{ taskboard_agent_require_idempotency | bool | lower }}
TASKBOARD_MCP_HUMAN_DELEGATION={{ taskboard_mcp_human_delegation | bool | lower }}
TASKBOARD_AGENT_POLICIES_JSON={{ taskboard_agent_policies_json | to_json }}
TASKBOARD_RETENTION_DAYS={{ taskboard_retention_days | int }}
TASKBOARD_WEBHOOK_URL={{ taskboard_webhook_url | to_json }}
TASKBOARD_WEBHOOK_SECRET={{ taskboard_webhook_secret | to_json }}
TASKBOARD_WEBHOOK_MAX_ATTEMPTS={{ taskboard_webhook_max_attempts | int }}
